* {
	font-family: Roboto;
}

.signup-div {
	display: flex;
}

.child-div-1 {
	text-align: center;
	padding: 15px;
	width: 50%
}

.child-div-1 input {
	color: : teal;
	display: block;
	width: 70%;
	padding: 10px;
	margin: 10px 20px 10px 50px;
	border-radius: 5px;
}

.child-div-1 p {
	position: relative;
	margin-top: 200px;
}

.child-div-2 {
	background: teal;
	text-align: center;
	padding: 20px;
	color: white;
}

.child-div-2 p {
	margin: 75px 0px 65px 0px;
}

.child-div-2 a {
	text-decoration: none;
	color: white;
}