body{
	background: #E5E5E5;
}
.row {
	display: flex;
	flex-direction: row;;
}

.col-sm-4 {
	background: teal;
	margin: 20px 0px 20px 0px;
	height: 620px;
	box-sizing: border-box;
	padding: 20px 0 20px 10px;
	color: white;
	border-radius: 20px 0px 0px 20px;
} 
.col-sm-4 >h1{
	text-align: center;
	padding: 15px;
	padding-top: 25%;
}

.col-sm-4 >span{
	font-size: 20px;
}

.col-sm-4 >button{
	display: block;
	background: teal;
	margin: 100px;
	border: 1px solid white;
	color: white;
	width: 150px;
	border-radius: 50px;
}

.col-sm-8 {
	background: white;
	margin: 20px 0px 20px 0px;
}

.input-group-prepend {
	display: inline-block;
}

.footer {
	text-align: center;
}

p {
	text-align: center;
}